<div class="aboutWrapper">
  <h1> Dream Vacations and Cruises </h1>

<div class="aboutImgBox">
  <img src="../../assets/images/cruiseship.jpg">
  <div class="imgText">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur corporis,
    eaque eius est eum iure labore minima nesciunt omnis qui quia veniam, voluptatum. Ab esse fugit libero ullam voluptatibus!</p>
  </div>
</div>

  <div class="aboutImgBox">
    <img src="../../assets/images/resort.jpg">
    <div class="imgText">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur corporis,
        eaque eius est eum iure labore minima nesciunt omnis qui quia veniam, voluptatum. Ab esse fugit libero ullam voluptatibus!</p>
    </div>
  </div>


  <div class="aboutImgBox">
    <img src="../../assets/images/scubadiving.jpg">
    <div class="imgText">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur corporis,
        eaque eius est eum iure labore minima nesciunt omnis qui quia veniam, voluptatum. Ab esse fugit libero ullam voluptatibus!</p>
    </div>
  </div>

  <div class="aboutImgBox">
    <img src="../../assets/images/travelagent.jpg">
    <div class="imgText">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur corporis,
        eaque eius est eum iure labore minima nesciunt omnis qui quia veniam, voluptatum. Ab esse fugit libero ullam voluptatibus!</p>
    </div>
  </div>
</div>
